*{font-family: 'IBM Plex Sans Thai', sans-serif !important;}
.ant-breadcrumb-link{
    color: white;
    font-size: 14px;
}
.ant-breadcrumb > span:last-child {
    font-weight: 500;
    font-family: IBM Plex Sans Thai,sans-serif;
}

/* .above-the-fold-input .ant-select-selection-search-input, .above-the-fold-input .ant-select-selector  {
    height: 100%!important;
}
.above-the-fold-input, .ant-select-selector {
    border-radius: 0!important;
    border: 0!important;
}
.ant-input:placeholder-shown {
    text-overflow: ellipsis;
} */

.ant-drawer-content-wrapper{
    width: 100vw !important;
}